{{#each this}}
    <h1 class="name">{{name}}</h1>
    <div class="country-card">
        <div class="counrty-discription">
            <ul class="counrty-discription-list">
                <li class="country-discription-item"><span class="item">Capital: </span>{{capital}}</li>
                <li class="country-discription-item"><span class="item">Population: </span>{{population}}</li>
                <li class="country-discription-item"><span class="item">Languages:</span>
                    <ul>
                        {{#each languages}}
                        <li>{{this.name}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="country-image">
            <img class="image" src="{{flag}}" alt="{{name}}">
        </div>
    </div>
{{/each}}